.nav{

position: absolute;
width: 76.92px;
height: 30px;
left: 415px;
top: -6px;
}

.nav{
order: 0;
flex-grow: 0;
z-index: 0;
}

.nav{
position: absolute;
width: 76.92px;
height: 30px;
left: 415px;
top: -6px;


border-radius: 8px;
}

.login{
position: absolute;
visibility: hidden;
width: 60.89px;
height: 19px;
left: 422.48px;
top: 0px;
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;
color: #F2B236;
}
.cangaroo{
position: absolute;
width: 140px;
height: 35px;
left: calc(50% - 140px/2 - 442px);
top: 29px;
font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
color: #F2B236;
}
.logo{
position: absolute;
width: 70px;
height: 54px;
left: 149px;
top: 16px;
}