.section1{
    position: relative;
    width: 1440px;
    height: 4848px;
    overflow-y: scroll;
    background: #FFFFFF;
    }
.section2{
    position: absolute;
    width: 1440px;
    height: 1155px;
    left: 0px;
    top: 686px;
    background: #1F1D1D;
}