.body{
position: relative;
width: 1440px;
height: 4848px;
overflow-y: scroll;
background: #FFFFFF;
}

/* Rectangle 12 */

position: absolute;
width: 1440px;
height: 1155px;
left: 0px;
top: 686px;

background: #1F1D1D;


/* richelleellis 2 */

position: absolute;
width: 1440px;
height: 686px;
left: 0px;
top: 0px;

background: #000000;


/* GVYZQb-800 1 */

position: absolute;
width: 1431px;
height: 686px;
left: 9px;
top: 0px;

background: url(GVYZQb-800.jpg);


/* 1_N6TCzxDheh-S5DgJKp1elg 1 */

position: absolute;
width: 1133px;
height: 636px;
left: 219px;
top: 52px;



/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 25px;
isolation: isolate;

position: absolute;
width: 406px;
height: 19px;
left: 786px;
top: 45px;



/* Group 1 */

position: absolute;
width: 76.92px;
height: 30px;
left: 415px;
top: -6px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 1 */

position: absolute;
width: 76.92px;
height: 30px;
left: 415px;
top: -6px;

background: #F2B236;
border-radius: 8px;


/* Sign up */

position: absolute;
visibility: hidden;
width: 60.89px;
height: 19px;
left: 422.48px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Sign up */

position: absolute;
width: 60.89px;
height: 19px;
left: 422.48px;
top: 0px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #000000;



/* Home */

width: 45px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Services */

width: 66px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Projects */

width: 62px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* About */

width: 46px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Contact us */

width: 87px;
height: 19px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* 3d-rendering-robotic-dog-removebg 1 */

position: absolute;
width: 377px;
height: 566px;
left: calc(50% - 377px/2 + 335.5px);
top: 120px;

background: url(3d-rendering-robotic-dog-removebg.png);


/* CANGAROO */

position: absolute;
width: 140px;
height: 35px;
left: calc(50% - 140px/2 - 442px);
top: 29px;

font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
/* identical to box height */

color: #F2B236;



/* Group 2 */

position: absolute;
width: 557px;
height: 218.09px;
left: 231px;
top: 203px;



/* CANGAROO */

position: absolute;
width: 557px;
height: 139px;
left: calc(50% - 557px/2 - 210.5px);
top: 203px;

font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 96px;
line-height: 139px;
/* identical to box height */

color: #F2B236;



/* Empowering Your Digital Future */

position: absolute;
width: 364px;
height: 39px;
left: calc(50% - 364px/2 - 299px);
top: 322px;

/* large-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #000000;



/* Empowering Your Digital Future */

position: absolute;
width: 364px;
height: 22.09px;
left: calc(50% - 364px/2 - 299px);
top: 399px;

font-family: 'Inter';
font-style: italic;
font-weight: 500;
font-size: 20px;
line-height: 120%;
/* or 24px */

color: #FFFFFF;



/* LABS */

position: absolute;
width: 153px;
height: 75px;
left: calc(50% - 153px/2 - 409.5px);
top: 309px;

font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 64px;
line-height: 92px;

color: #F8F8F8;



/* Group 3 */

position: absolute;
width: 143px;
height: 34px;
left: 239px;
top: 502px;



/* Rectangle 11 */

position: absolute;
width: 143px;
height: 34px;
left: 239px;
top: 502px;

background: #F2B236;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;


/* Talk with us */

position: absolute;
width: 90px;
height: 19px;
left: 266px;
top: 509px;

/* base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #000000;



/* What We Offer */

position: absolute;
width: 285px;
height: 47px;
left: calc(50% - 285px/2 + 5.5px);
top: 738px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

color: #F2B236;



/* 02 1 */

position: absolute;
width: 70px;
height: 54px;
left: 149px;
top: 16px;

background: url(02);


/* Group 7 */

position: absolute;
width: 874px;
height: 370.73px;
left: calc(50% - 874px/2 + 0px);
top: 889px;



/* Group 4 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 283px;
top: 889px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 283px;
top: 889px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 304.32px;
top: 1173.54px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* AI Solutions */

position: absolute;
width: 246.54px;
height: 27.8px;
left: 304.32px;
top: 1127.2px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Group 5 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 582.37px;
top: 889px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 582.37px;
top: 889px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 603.68px;
top: 1173.54px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* UI/UX Designs */

position: absolute;
width: 246.54px;
height: 27.8px;
left: 603.68px;
top: 1127.2px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Group 6 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 881.73px;
top: 889px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 881.73px;
top: 889px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 903.05px;
top: 1173.54px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* Web Development */

position: absolute;
width: 246.54px;
height: 27.8px;
left: 903.05px;
top: 1127.2px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Group 8 */

position: absolute;
width: 874px;
height: 370.73px;
left: calc(50% - 874px/2 + 0px);
top: 1285.68px;



/* Group 4 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 283px;
top: 1285.68px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 283px;
top: 1285.68px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 304.32px;
top: 1570.22px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* Mobile solution */

position: absolute;
width: 246.54px;
height: 27.8px;
left: 304.32px;
top: 1523.88px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Group 5 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 582.37px;
top: 1285.68px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 582.37px;
top: 1285.68px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 603.68px;
top: 1570.22px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* Graphic designing */

position: absolute;
width: 246.54px;
height: 27.8px;
left: 603.68px;
top: 1523.88px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Group 6 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 881.73px;
top: 1285.68px;



/* Rectangle 13 */

position: absolute;
width: 275.27px;
height: 370.73px;
left: 881.73px;
top: 1285.68px;

background: #312E2E;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 22px;


/* Crafting captivating and user-centric designs is our forte... */

position: absolute;
width: 246.54px;
height: 35.22px;
left: 903.05px;
top: 1570.22px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #948C8C;



/* Cyber Security Solutions */

position: absolute;
width: 246.54px;
height: 55.61px;
left: 903.05px;
top: 1512.76px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Text */

position: absolute;
width: 0px;
height: 57px;
left: 264px;
top: 1216px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 19px;

color: #FFFFFF;



/* Rectangle 14 */

position: absolute;
width: 118px;
height: 61px;
left: 1039px;
top: 1286px;

background: #F2B236;
border-radius: 0px 22px;


/* Coming soon */

position: absolute;
width: 66px;
height: 38px;
left: 1063px;
top: 1298px;

font-family: 'Poppins';
font-style: italic;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #000000;



/* artificial-intelligence (1) 1 */

position: absolute;
width: 110px;
height: 110px;
left: 365px;
top: 978px;

background: url(artificial-intelligence (1).png);
mix-blend-mode: hard-light;


/* ux 1 */

position: absolute;
width: 109px;
height: 109px;
left: 666px;
top: 978px;

background: url(ux.png);


/* mobile 1 */

position: absolute;
width: 109px;
height: 109px;
left: 970px;
top: 984px;

background: url(mobile.png);


/* mobile-application 1 */

position: absolute;
width: 108px;
height: 108px;
left: 367px;
top: 1381px;

background: url(mobile-application.png);


/* pen-tool 1 */

position: absolute;
width: 102px;
height: 102px;
left: 676px;
top: 1380px;

background: url(pen-tool.png);


/* cyber-security 1 */

position: absolute;
width: 124px;
height: 124px;
left: 957px;
top: 1373px;

background: url(cyber-security.png);
mix-blend-mode: luminosity;


/* Rectangle 15 */

position: absolute;
width: 1440px;
height: 652px;
left: 0px;
top: 1841px;

background: #000000;


/* Why Us */

position: absolute;
width: 145px;
height: 47px;
left: calc(50% - 145px/2 - 0.5px);
top: 1908px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

color: #F2B236;



/* Group 12 */

position: absolute;
width: 495px;
height: 247px;
left: 710px;
top: 2074px;



/* Welcome to [Company Name], where innovation meets efficiency to redefine the landscape of Information and Communication Technology (ICT). We pride ourselves on being more than just a company; we are architects of digital transformation, committed to empowering businesses with cutting-edge solutions that propel them into the future. */

position: absolute;
width: 495px;
height: 114px;
left: 710px;
top: 2125px;

font-family: 'Poppins';
font-style: italic;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* More than just a company */

position: absolute;
width: 350px;
height: 30px;
left: 710px;
top: 2074px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */

color: #FFFFFF;



/* Group 10 */

position: absolute;
width: 143px;
height: 34px;
left: 710px;
top: 2287px;



/* Rectangle 11 */

position: absolute;
width: 143px;
height: 34px;
left: 710px;
top: 2287px;

background: #F2B236;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 8px;


/* About Us */

position: absolute;
width: 71px;
height: 19px;
left: 737px;
top: 2294px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #000000;



/* Group 11 */

position: absolute;
width: 360px;
height: 348px;
left: 235px;
top: 2026px;



/* 360_F_619769049_pxEEvXT1UjRmsgV7UNGw3RFE1FNMjrOq 1 */

position: absolute;
width: 360px;
height: 306px;
left: 235px;
top: 2026px;

background: url(360_F_619769049_pxEEvXT1UjRmsgV7UNGw3RFE1FNMjrOq.jpg);


/* Rectangle 30 */

position: absolute;
width: 180px;
height: 85px;
left: 415px;
top: 2289px;

background: rgba(71, 67, 67, 0.85);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */
border-radius: 11px;


/* Our skilled employees are the architects of our success */

position: absolute;
width: 176px;
height: 24px;
left: 417px;
top: 2332px;

/* xsmall-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 120%;
/* or 12px */
text-align: center;

color: #FFFFFF;



/* Skilled employees */

position: absolute;
width: 148px;
height: 19px;
left: 431px;
top: 2306px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* Rectangle 34 */

position: absolute;
width: 1440px;
height: 1240px;
left: 0px;
top: 2490px;

background: #1F1D1D;


/* 3d-rendering-robotic-dog-removebg 2 */

position: absolute;
width: 720px;
height: 1081px;
left: calc(50% - 720px/2);
top: 2649px;

background: url(3d-rendering-robotic-dog-removebg.png);


/* Project Highlights */

position: absolute;
width: 343px;
height: 47px;
left: calc(50% - 343px/2 + 25.5px);
top: 2531px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

color: #F2B236;



/* 33 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 340px;
left: 220px;
top: 2616px;

border-radius: 12px;


/* Pictures */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 240px;

background: #1F1D1D;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 35 */

width: 360px;
height: 240px;

background: url(india-lets-banks-use-face-recognition-iris-scan-for-some-transactions-sources.png);
border-radius: 13px 13px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 240 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 4px;

width: 360px;
height: 100px;

background: #312E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Face Recognition */

width: 210px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #F2B236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Something short and simple here */

width: 312px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 38 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 340px;
left: 738px;
top: 2800px;

border-radius: 12px;


/* Pictures */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 240px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 35 */

width: 360px;
height: 240px;

background: url(photo-1623038896180-d81dd785a60f);
border-radius: 13px 13px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 240 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 4px;

width: 360px;
height: 100px;

background: #312E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Helmet detection */

width: 210px;
height: 27px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
/* identical to box height */
display: flex;
align-items: center;

color: #F2B236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Something short and simple here */

width: 312px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 39 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 367px;
left: 214px;
top: 3116px;

border-radius: 12px;


/* Pictures */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 240px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 35 */

width: 360px;
height: 240px;

background: url(Coffee-Coffee-Shop-Website-Template);
border-radius: 13px 13px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 240 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 4px;

width: 360px;
height: 127px;

background: #312E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Responsive cafe website */

width: 210px;
height: 54px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;

color: #F2B236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Something short and simple here */

width: 312px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 40 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

position: absolute;
width: 360px;
height: 367px;
left: 738px;
top: 3300px;

border-radius: 12px;


/* Pictures */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 360px;
height: 240px;

background: #FFFFFF;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rectangle 35 */

width: 360px;
height: 240px;

background: url(179276581-28ebf096-3b2f-433e-a6a0-6ad38df828d4);
border-radius: 13px 13px 0px 0px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 240 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 4px;

width: 360px;
height: 127px;

background: #312E2E;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Suspicious activity detection (LSTM) */

width: 312px;
height: 54px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 27px;
display: flex;
align-items: center;

color: #F2B236;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Something short and simple here */

width: 312px;
height: 21px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 21px;
/* identical to box height */
display: flex;
align-items: center;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 36 */

position: absolute;
width: 1440px;
height: 740px;
left: 0px;
top: 3729px;

background: #000000;


/* hiclipart 1 */

position: absolute;
width: 895px;
height: 440px;
left: calc(50% - 895px/2 - 0.5px);
top: 3920px;

background: url(hiclipart);


/* Ellipse 1 */

box-sizing: border-box;

position: absolute;
width: 135px;
height: 135px;
left: 316px;
top: 3978px;

background: url(NU2EEFO6GP2K7NBP37IH7QVSSM);
border: 5px solid #F2B236;


/* Ellipse 2 */

box-sizing: border-box;

position: absolute;
width: 135px;
height: 135px;
left: 768px;
top: 3889px;

background: url(1477329564-tom-cruise-suit);
border: 5px solid #F2B236;


/* Ellipse 3 */

box-sizing: border-box;

position: absolute;
width: 135px;
height: 135px;
left: 584px;
top: 4140px;

background: url(Sanga-ICC-Hall-of-Fame);
border: 5px solid #F2B236;


/* Ellipse 4 */

box-sizing: border-box;

position: absolute;
width: 135px;
height: 135px;
left: 936px;
top: 4165px;

background: url(images.jpg);
border: 5px solid #F2B236;


/* Our Team */

position: absolute;
width: 195px;
height: 47px;
left: calc(50% - 195px/2 - 0.5px);
top: 3764px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 39px;
line-height: 120%;
/* identical to box height, or 47px */

color: #F2B236;



/* footer */

position: absolute;
width: 1440px;
height: 431px;
left: calc(50% - 1440px/2);
top: 4458px;



/* social */

position: absolute;
left: 77.5%;
right: 11.88%;
top: 39.44%;
bottom: 53.36%;



/* Twitter */

position: absolute;
left: 77.5%;
right: 20.42%;
top: 39.68%;
bottom: 53.36%;

background: url(.png);


/* Instagram */

position: absolute;
left: 81.81%;
right: 16.11%;
top: 39.44%;
bottom: 53.6%;

background: url(.png);


/* Facebook */

position: absolute;
left: 86.04%;
right: 11.88%;
top: 39.68%;
bottom: 53.36%;

background: url(.png);


/* footer */

position: absolute;
left: 0%;
right: 0%;
top: 2.09%;
bottom: 2.08%;



/* Rectangle 21 */

position: absolute;
left: 0%;
right: 0%;
top: 2.09%;
bottom: 2.08%;

background: #000000;


/* Frame 725 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 197px;

position: absolute;
left: 32.01%;
right: 12.08%;
top: 19.74%;
bottom: 73.3%;



/* Parts.lk */

display: none;
width: 109px;
height: 29.9px;

/* heading6/heading6-bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Services */

width: 109px;
height: 29.9px;

/* heading6/heading6-bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Information */

width: 151px;
height: 30px;

/* heading6/heading6-bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Follow us on */

width: 151px;
height: 30px;

/* heading6/heading6-bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* identical to box height, or 30px */

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Text */

position: absolute;
left: 37.15%;
right: 62.85%;
top: 21.92%;
bottom: 71.43%;

/* heading6/heading6-bold */
font-family: 'Inter';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 120%;
/* or 30px */

color: #FFFFFF;



/* Empowering Your Digital Future */

position: absolute;
left: 10.56%;
right: 72.78%;
top: 34.11%;
bottom: 61.67%;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* AI solutions */

position: absolute;
left: 32.15%;
right: 61.74%;
top: 34.11%;
bottom: 61.67%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* About us */

position: absolute;
left: 53.4%;
right: 41.88%;
top: 34.11%;
bottom: 61.67%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* UI/UX designs */

position: absolute;
left: 32.15%;
right: 60.35%;
top: 39.45%;
bottom: 56.33%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* Contact us */

position: absolute;
left: 53.4%;
right: 40.83%;
top: 39.45%;
bottom: 56.33%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* Web designs */

position: absolute;
left: 32.01%;
right: 61.25%;
top: 45.89%;
bottom: 49.88%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* carrier */

position: absolute;
left: 31.88%;
right: 64.72%;
top: 51.9%;
bottom: 43.88%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* E- Newsletter */

position: absolute;
left: 53.26%;
right: 39.44%;
top: 45.89%;
bottom: 49.88%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* Help */

position: absolute;
left: 53.26%;
right: 44.31%;
top: 51.9%;
bottom: 43.88%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* All rights reserved */

position: absolute;
left: 45.14%;
right: 45.28%;
top: 75.91%;
bottom: 19.86%;

/* base/base-regular */
font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
/* or 19px */

color: #FFFFFF;



/* Rectangle 22 */

position: absolute;
left: 10.76%;
right: 83.75%;
top: 27.66%;
bottom: 71.45%;

background: #FED001;


/* Rectangle 23 */

position: absolute;
left: 32.01%;
right: 62.5%;
top: 27.66%;
bottom: 71.45%;

background: #FED001;


/* Rectangle 24 */

position: absolute;
left: 53.26%;
right: 41.25%;
top: 27.66%;
bottom: 71.45%;

background: #FED001;


/* Rectangle 25 */

position: absolute;
left: 77.43%;
right: 17.08%;
top: 27.66%;
bottom: 71.45%;

background: #FED001;


/* CANGAROO */

position: absolute;
left: 10.56%;
right: 79.72%;
top: 18.56%;
bottom: 73.32%;

font-family: 'Jost';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 35px;
/* identical to box height */

color: #F2B236;

