
.section2{
    position: absolute;
    width:2000px;
    height: 1155px;
    left: 0px;
    top: 686px;
    background: #1F1D1D;
}
.section3{
    position: absolute;
    width: 2000px;
    height: 652px;
    left: 0px;
    top: 1841px;
    background: #000000;
}
.section4{
position: absolute;
width:2000px;
height: 1240px;
left: 0px;
top: 2490px;
background: #1F1D1D;
}
.section5{
position: absolute;
width: 2000px;
height: 740px;
left: 0px;
top: 3729px;
background: #000000;
}
