body{
position: absolute;
width:2000px;
height: 686px;
left: 9px;
top: 0px;
background-color:black;
}
.can{
/* position:relative; */
width: 200px;
height: 2000px;
margin-left:1300px;
margin-top: -150px;

}
.can2{
position:relative;
width: 200px;
height: 100px;
margin-left:360px;
margin-top: 150px;
color: white;
}
